In [2]:
import numpy as np

In [3]:
import pandas as pd

In [8]:
df = pd.read_csv('../LP-1 Dataset/Regression/1.01. Simple linear regression.csv')

In [9]:
df

     SAT   GPA
0   1714  2.40
1   1664  2.52
2   1760  2.54
3   1685  2.74
4   1693  2.83
..   ...   ...
79  1936  3.71
80  1810  3.71
81  1987  3.73
82  1962  3.76
83  2050  3.81

[84 rows x 2 columns]

In [10]:
df.describe()

               SAT        GPA
count    84.000000  84.000000
mean   1845.273810   3.330238
std     104.530661   0.271617
min    1634.000000   2.400000
25%    1772.000000   3.190000
50%    1846.000000   3.380000
75%    1934.000000   3.502500
max    2050.000000   3.810000

In [11]:
df.isna().sum()

SAT    0
GPA    0
dtype: int64

In [12]:
df.dtypes

SAT      int64
GPA    float64
dtype: object

In [14]:
import matplotlib.pyplot as plt